body {
  overflow-x: hidden;
  background-color: #f8f9fa;
}

#sidebar {
  min-width: 240px;
  max-width: 240px;
  min-height: 100vh;
  transition: margin 0.25s ease-out;
}

#wrapper.toggled #sidebar {
  margin-left: -240px;
}

.card {
  border: none;
  border-radius: 8px;
}